body {
	background:#DEE8FA;
	color:#fff;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:sans-serif;
	text-align:center;
}
a:link {color: #fff;}
a:visited {color: #fff;}
a:active {color: #fff;}
canvas { pointer-events:none; z-index:10; position:relative; }
